.login {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20vh;
  width: 95vw;
  height: 50vh;
  text-align: center;
}

.login h1, .login p {
  margin: 0;
}

.login div {
  align-self: center;
  margin: auto;
}