body {
  margin-top: 0;
}

header {
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colunm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.s-btw {
  justify-content: space-between;
}

.s-evenly {
  justify-content: space-evenly;
}

h1 {
  margin: 0 10px;
}

.i-b {
  display: inline-block;
}

.n-margin {
  margin: 0 10px;
}

.line {
  width: 80vw;
  height: 1px;
  background-color: black;
}

button {
  background-color: white;
  border: none;
}

.b-icon {
  margin-top: 10px;
}

svg {
  width: 6vw;
  height: 6vw;
}

.nav {
  width: 90vw;
  justify-content: space-evenly;
}

.time-card {
  height: 10vh;
  border-radius: 20px;
  border-radius: 21px;
  background: #ffffff;
  box-shadow:  9px 9px 18px #e0e0e0, -9px -9px 18px #ffffff;
  margin-bottom: 10px;
  width: 90vw;
}

.s-center {
  align-self: center;
}

.new-task {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 95vw;
  height: 80vh;
  background-color: white;
  z-index: 2;
  border: 2px solid black;
  text-align: center;
}