body {
  margin-top: 0;
}

* {
  font-weight: bolder;
}

header {
  margin-top: 0;
  margin-bottom: 10px;
  height: 7vh;
}

.pagename {
  margin-right: 10px;
}

header h1 {
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colunm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.a-center {
  align-self: center;
}

.s-btw {
  justify-content: space-between;
}

.s-evenly {
  justify-content: space-evenly;
}

h1 {
  margin: 0 10px;
}

.i-b {
  display: inline-block;
}

.n-margin {
  margin: 0 10px;
}

.line {
  width: 80vw;
  height: 1px;
  background-color: black;
}

button {
  background-color: white;
  border: none;
}

.b-icon {
  margin: 10px 10px;
  border-radius: 10px;
}

svg {
  width: 7vw;
  height: 7vw;
}

.nav {
  width: 100vw;
  justify-content: space-evenly;
  align-self: flex-end;
  position: fixed;
  background-color: #ffffff;
  bottom: 0;
}

.time-card {
  height: 10vh;
  border-radius: 20px;
  border-radius: 21px;
  background: #ffffff;
  box-shadow:  9px 9px 18px #e0e0e0, -9px -9px 18px #ffffff;
  margin-bottom: 10px;
  width: 90vw;
}

.s-center {
  align-self: center;
}

.new-task {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 95vw;
  height: 80vh;
  background-color: white;
  z-index: 2;
  border: 2px solid black;
  text-align: center;
}

.card-div {
  margin-top: 10px;
}

.selected {
  color: blue;
}

.x-btn {
  align-self: flex-end;
}

select {
  width: 50%;
  align-self: center;
  border: 0px 0px solid black;
}

.colors-div {
  align-self: center;
  width: 70vw;
}

.color-button {
  width: 7vw;
  height: 7vw;
  border-radius: 10px;
  margin: 5px;
}

.s-scale {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.no-task {
  width: 90vw;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: #F0F0F0;
}

.note {
  width: 28vw;
  height: 16vh;
  color: white;
  border-radius: 20px;
  margin: 10px;
}

.note h1 {
  font-size: 1em;
}

.note-only-btn {
  width: 100vw;
  height: 80vh;
  align-self: center;
  font-size: 2rem;
}

.note-only-btn svg {
  width: 12vw;
  height: 12vw;
}

.new-note {
  margin: auto;
  width: 95vw;
  height: 80vh;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.note-btn {
  width: 30vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  align-self: center;
  margin: auto;
  align-items: center;
}

.block-note {
  margin: auto;
  width: 95vw;
  height: 85vh;
  align-items: center;
}

textarea {
  width: 80vw;
  height: 80vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  outline: none;
  resize: none;
}

select {
  border: none;
  border-bottom: 1px solid black;
  background-color: #ffffff;
}

.select-p {
  margin-left: 10px;
  font-size: 1.6rem;
  width: 90vw;
  align-items: center;
}

.select-p select {
  font-size: 1.5rem;
  align-self: center;
  width: 35vw;
}
