body {
  margin-top: 0;
  padding: 10px;
}

* {
  margin-right: 10px;
}

header {
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colunm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.s-btw {
  justify-content: space-between;
}

.s-evenly {
  justify-content: space-evenly;
}

h1 {
  margin: 0 10px;
}

.i-b {
  display: inline-block;
}

.n-margin {
  margin: 0 10px;
}

.line {
  width: 80vw;
  height: 1px;
  background-color: black;
}

button {
  background-color: white;
  border: none;
}

.b-icon {
  margin-top: 10px;
}

svg {
  width: 6vw;
  height: 6vw;
}